
:root{
    --columns:8;
    --sqWidth: 60px;
    --marg:1px;
    --bord:4px;
    --bWidth:calc(var(--sqWidth) * var(--columns));                         /* board  Width  */
    --mWidth:calc(var(--marg) * var(--columns) * 2);                        /* margin Width  */
    --bordWidth:calc(var(--bord) * var(--columns) * 2);                     /* border Width  */
    --totWidth:calc(var(--bWidth) + var(--mWidth) + var(--bordWidth));      /* board + marg + bord */
    --boardClr:#444;
}

*{ margin: var(--marg); }

body{ background:#bbb; padding: 20px 40px;}

#board{
    width:  var(--totWidth);
    height: var(--totWidth);
    border: solid var(--boardClr) var(--bord);
    background: black;
}

.square,
.promotion{
    width:  var(--sqWidth);
    height: var(--sqWidth);
    border: solid var(--boardClr) var(--bord);
    display: inline-block;
    vertical-align: top;
}

img{
    margin:auto;
    /* width: 25px;
    height:25px; */
}
/* 
.black:hover{
    border: solid pink var(--bord);
}

.white:hover{
    border: solid pink var(--bord);
} */

.clicked{
    border:solid chocolate 4px;
}

.current-player-pointer{
    cursor:pointer;
    background-color: red;
}

.disabled{
    pointer-events:none;
    opacity: 0.6;
}